---
import Icon from "./Icon.astro";
import ProfileImage from "./ProfileImage";
---

<header
  id="header"
  class="fixed transition-opacity duration-300 w-full flex items-center justify-between p-12 max-md:p-8 z-20 pointer-events-none"
>
  <ProfileImage client:load />
  <div class="flex gap-6">
    <Icon
      src="/socials/github.webp"
      alt="Github"
      href="https://github.com/Sam-Scolari"
    />
    <Icon
      src="/socials/twitter.webp"
      alt="Twitter"
      href="https://twitter.com/SamScolari"
    />
    <Icon
      src="/socials/rainbow.webp"
      alt="Rainbow"
      href="https://rainbow.me/samscolari.eth"
    />
    <div class="flex gap-6 max-sm:hidden">
      <Icon
        src="/socials/discord.webp"
        alt="Discord"
        href="https://discordapp.com/users/174640628456620032"
      />
      <Icon
        src="/socials/spotify.webp"
        alt="Spotify"
        href="https://open.spotify.com/user/v6xxldvuv35dtjjcckfxz9coj?si=7f56de0b5263471b"
      />
    </div>
  </div>
</header>
